<article id="box1">
	<section class="limit">
		<h1>Em quem voc&ecirc; votou na &uacute;ltima elei&ccedil;&atilde;o?</h1>
	<form id="select_form" name="select_form" action="#" method="post">
		<fieldset>

  		<label><img src="/assets/ver_ico.png" alt="vereador_icone">Vereador: 
  			<select id="select-input" title="Escolha o seu vereador">
  				<option value="#">Jose da Silva</option>
  				<option value="#">Pedro de Souza</option>
  				<option value="#" selected="selected">Paulo Lima</option>
  			</select>
  		</label>
  		<label><img src="/assets/flag.png" alt="partido_icone">Partido: 
  			<select id="select-input2" title="Escolha o seu vereador">
  				<option value="#">PSDB</option>
  				<option value="#">PT</option>
  				<option value="#" selected="selected">PV</option>
  			</select>
  		</label>
  		</fieldset>
	</form>
	<div id="nulo">
		<a href="#"><img src="/assets/nulo.png" alt="Botao_nulo"></a>	
	</div>
	</section>
</article>