<section id="question">
  <h1>Em quem você votou na última eleição?</h1>
</section>

<section class="content">
  <article id="landing-page">
    <ul>
      <% @vereadores.each do |vereador| %>
      <li>
        <a href="/vereador/<%= vereador["nome"].parameterize %>">
          <img class="avatar" src="<%= vereador["foto"] %>" alt="Ir para a página do vereador <%= vereador["nome"] %>" />
          <label><%= display_name vereador["nome"] %></label>
        </a>
      </li>
      <% end %>
    </ul>
  </article>
</section>
