<article id="box1">
	<section class="limit">
		<h1>Em quem voc&ecirc; votou na &uacute;ltima elei&ccedil;&atilde;o?</h1>
	<form id="select_form" name="select_form" action="#" method="post">
		<fieldset>
  		<label><img src="/assets/ver_ico.png" alt="vereador_icone">Vereador: 
  			<select id="select-input" title="Escolha o seu vereador">
					<% @nomes.each do |vereador| %>
  				<option value="<%= vereador.parameterize %>"><%= vereador %></option>
					<% end %>
  			</select>
  		</label>
  		<label><img src="/assets/flag.png" alt="partido_icone">Partido: 
  			<select id="select-input2" title="Escolha o seu vereador">
  				<% @partidos.each do |partido| %>
  				<option value="<%= partido.parameterize %>"><%= partido %></option>
					<% end %>
  			</select>
  		</label>
  		</fieldset>
	</form>
	<div id="nulo">
		<a href="#"><img src="/assets/nulo.png" alt="Botao_nulo"></a>	
	</div>
	</section>
</article>