<header>
	<section class="limit">
		<h1><a href="/">Para onde foi meu voto?</a></h1>
	</section>
</header>
<article id="main_visu">
    <section class="limit">
        <div id="visua">
            <img src="/assets/ico_comparar.png" alt="proposta_icone" width="40" height="40">
            <h2>Ranking de vereadores</h2>
            <ul id="ranking">
                <% @vereadores.each_with_index do |array, index | %>
									<% vereador, total = array %>
                <li><%= index + 1 %>) <%= vereador.split("-").collect{ |i| i.capitalize }.join(" ") %></li>
            </ul>
        </div>
    </section>
</article>

<div class="fb-like" data-send="true" data-width="450" data-show-faces="true"></div>

<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
