<header id="hdr_in">
	<section class="limit">
		<h1><a href="index.html">Para onde foi meu voto?</a></h1>
	</section>
</header>
<article id="topo">
	<section class="limit">
		<div id="user">
			<img src="/assets/avat.png" alt="avatar" width="50px" height="50px">
			<h2>Voc&ecirc;!</h2>
		</div>
		<div id="politico">
			<img src="/assets/ver_ico.png" alt="avatar" width="50px" height="50px">
			<h2>Pol&iacute;tico honesto!</h2>
		</div>
	</section>
</article>

<article id="main_visu">
	<section class="limit">
		<div id="visua">
			<h2>Projetos que o vereador prop&ocirc;s:</h2>
		</div>
	</section>
</article>


<article id="aprova">
	<section class="limit">
		<div id="visua2">
			<p>aqui visualizacao</p>
		</div>
	</section>
</article>


<article id="reprova">
	<section class="limit">
		<div id="visua3">
			<p>aqui visualizacao</p>
		</div>
	</section>
</article>

<article id="gasto">
	<section class="limit">
		<div id="visua4">
			<p>aqui visualizacao</p>
		</div>
	</section>
</article>


<article id="gostou">
	<section class="limit">
		<div id="pergunta">
			<p>Que nota o seu candidato merece?</p>
		</div>
	</section>
</article>