<article id="main_visu">
    <section class="limit">
        <div id="visua">
            <img src="/assets/ico_comparar.png" alt="proposta_icone" width="40" height="40">
            <h2>Avaliação realizada com sucesso</h2>
            <h2 style="clear:both">
                Obrigado por colaborar com o Para onde foi meu Voto.
            </h2>
            <h2 style="clear:both">
                Clique <a href="/ranking">aqui</a> para visualizar a classificação dos vereadores
            </h2> 
            <div style="clear:both;" class="fb-like" data-send="true" data-width="450" data-show-faces="true"></div>

        </div>
    </section>
</article>




<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>